body{
    // background-color: grey;
    display: block;
    content: '';
    height: 60px;
}
.nav{
    .navigation{
        background-color: rgb(141, 50, 50);
        height: 400px;
    }
}